
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <%const date=new Date(); %>
    <%const year=date.getFullYear()%>
    <p>Copyrighs <%=year%> Nadav's blog</p>
  </div>
</div>
</body>
</html>
